.nav-link {
  font-weight: bolder;
}

.block {
  display: inline;
}

.aboutMe {
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  display: flex;
}

@media screen and (max-width: 768px) {
  .aboutMe {
    flex-direction: column;
  }
}

.paragraph {
  overflow-wrap: break-word;
}

.firstTwoColunms {
  display: grid;
  flex: 1;
  float: left;
}

.secondTwoColunms {
  justify-content: center;
  align-items: center;
  flex: 1;
}

.img_Profile {
  height: 50vh;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
}
.img {
  height: 50vh;
  width: auto;
  object-fit: cover;
  border: 4px solid black;
  margin: 1em 1em 1em 1em;
}

.link {
  font-size: small;
}

h3 {
  text-decoration: underline;
}
